<section class="section-main">
  <div class="container">
    <header class="header">
      <div class="header-logo">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_10103_6)">
            <path
              d="M39.9023 37.3864L38.2047 31.3961C37.8701 30.2157 37.9309 28.9531 38.4116 27.8244C39.5251 25.2111 40.097 22.3149 39.9875 19.2726C39.6103 8.70975 30.9276 0.19135 20.3617 0.00272783C9.0292 -0.198063 -0.198063 9.0292 0.00272783 20.3617C0.19135 30.9276 8.70976 39.6103 19.2695 39.9875C21.9285 40.0818 24.4749 39.6559 26.8205 38.8041C28.6885 38.1256 30.7177 38.01 32.6282 38.5546L37.3803 39.9054C38.9166 40.3435 40.3374 38.9227 39.9023 37.3864ZM11.0645 19.9997C11.0645 15.0651 15.0651 11.0645 19.9997 11.0645C24.9343 11.0645 28.9349 15.0651 28.9349 19.9997C28.9349 24.9343 24.9343 28.9349 19.9997 28.9349C15.0651 28.9349 11.0645 24.9343 11.0645 19.9997Z"
              fill="url(#paint0_linear_10103_6)" />
            <path
              d="M37.8917 29.0203C37.8917 29.0203 37.8217 28.7982 37.6848 28.4027C36.62 25.3848 31.442 12.3181 21.2047 11.1499C25.5704 11.7371 28.9352 15.476 28.9352 19.9999C28.9352 24.9345 24.9346 28.9351 20 28.9351V39.9969C22.3943 39.9969 24.6912 39.5801 26.8208 38.8073C28.6888 38.1289 30.718 38.0133 32.6285 38.5579L37.3806 39.9086C38.917 40.3437 40.3377 38.926 39.9027 37.3866L38.2051 31.3963C38.0043 30.6936 37.9495 29.9573 38.0377 29.2424L37.8917 29.0203Z"
              fill="url(#paint1_linear_10103_6)" />
          </g>
          <defs>
            <linearGradient id="paint0_linear_10103_6" x1="4.85174" y1="-0.000474682" x2="40.3752" y2="2.96995"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#DF5950" />
              <stop offset="1" stop-color="#451046" />
            </linearGradient>
            <linearGradient id="paint1_linear_10103_6" x1="22.4239" y1="11.1499" x2="40.2336" y2="12.1815"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#DF5950" />
              <stop offset="1" stop-color="#451046" />
            </linearGradient>
            <clipPath id="clip0_10103_6">
              <rect width="40" height="40" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <nav class="header-nav">
        <a class="header-link" href="#">Home</a>
        <a class="header-link" href="#">Course</a>
        <a class="header-link" href="#">Timetable</a>
        <a class="header-link" href="#">Tutor</a>
        <a class="header-link" href="#">Mailings</a>
        <a class="header-link" href="#">Contact</a>
      </nav>
      <div class="header-btn">
        <button class="btn" type="button">Login</button>
      </div>
    </header>
    <div class="main-content">
      <div class="content-title">
        First course for computer assembly
      </div>
      <div class="content-timer">
        <div class="days item">
          <div class="time">14</div>
          <div class="text">Days</div>
        </div>
        <div class="hours item">
          <div class="time">14</div>
          <div class="text">Hours</div>
        </div>
        <div class="minutes item">
          <div class="time">14</div>
          <div class="text">Minutes</div>
        </div>
        <div class="second item">
          <div class="time">14</div>
          <div class="text">Seconds</div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-footer">
    <div class="container">
      <div class="main-footer-content">
        <div class="main-footer-button"> <button class="btn">Book a course</button></div>
        <div class="main-footer-info">
          <div class="info-name">
            <div class="first"> Total students:</div>
            <div> Successfully completed the course:</div>
          </div>
          <div class="info-number">
            <div class="first">200</div>
            <div>190</div>
          </div>
        </div>
        <div class="main-footer-price">
          <div class="price">
            <div>Earned by students:</div>
            <div>80 000$</div>
          </div>
          <div class="progress">
            <progress class="progress" value="80" max="100"></progress>
          </div>
          <div class="number">
            <div>0</div>
            <div>100 000 $</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-start">
  <div class="container">
    <div class="start-content">
      <div class="start-wrapper-left">
        <div class="left-img"><img src="assets/images/start-images-01.png"></div>
      </div>
      <div class="start-wrapper-right">
        <div class="right-content">
          <div class="right-title">What are we doing?</div>
          <div class="right-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget neque, dignissim et
            feugiat elit augue in suspendisse egestas. Dictum vestibulum mi et sed nunc, orci fermentum vestibulum,
            morbi. Et neque, adipiscing sapien sem senectus praesent aenean consequat. Aenean facilisi turpis aliquet
            fringilla. Nunc sem felis sed interdum feugiat mattis elit, sollicitudin. Quam pharetra rhoncus risus,
            cursus id elementum aliquet. Nullam turpis arcu malesuada arcu interdum placerat nisi, lobortis. </div>
        </div>
      </div>
    </div>
    <div class="start-info">
      <div class="info-title">
        <div class="icon"><img src="assets/images/info-icon.svg" alt=""></div>
        <div class="text">Quick start</div>
      </div>
      <div class="info-text">
        More than 90% of students completed the full course and were able to assemble their first computer
      </div>
      <div class="info-graphic">
        <div class="info-graphic-card">
          <div class="card-title">100%</div>
          <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque
            accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</div>
        </div>
        <div class="info-graphic-card">
          <div class="card-title">75%</div>
          <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque
            accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</div>
        </div>
        <div class="info-graphic-card">
          <div class="card-title">50%</div>
          <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque
            accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</div>
        </div>
        <div class="info-graphic-card">
          <div class="card-title">total</div>
          <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque
            accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</div>
        </div>
      </div>
    </div>
    <div class="start-profession">
      <div class="profession-title">Get a career now</div>
      <div class="card-container">
        <div class="profession-card">
          <div class="card-icon"><img src="assets/images/profesion-icon-01.svg" alt=""></div>
          <div class="card-title">Only practical
            skills at work</div>
          <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque
            accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</div>
        </div>
        <div class="profession-card">
          <div class="card-icon"><img src="assets/images/profesion-icon-02.svg" alt=""></div>
          <div class="card-title">Work on your own
            modern equipment</div>
          <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque
            accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</div>
        </div>
        <div class="profession-card">
          <div class="card-icon"><img src="assets/images/profesion-icon-03.svg" alt=""></div>
          <div class="card-title">Certification
            upon graduation</div>
          <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque
            accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-partner">
  <div class="container">
    <div class="partner-title">
      <div class="icon"><img src="assets/images/partner-icon.svg"></div>
      <div class="text">Partners - top brands</div>
    </div>
    <div class="brand-wrapper">
      <div class="partner-brand-container" *ngFor=" let item of brandList">
        <div class="brand"><img [src]="item.img"></div>
      </div>
    </div>
  </div>
</section>
<section class="section-training">
  <div class="container">
    <div class="training-wrapper">
      <div class="training-logo"><img src="assets/images/training-logo.svg"></div>
      <div class="training-title">Training program</div>
      <div class="training-text">More than 90% of students completed the full course and were able to assemble their
        first computer
      </div>
      <div class="training-time-table">
        <div class="time-table-left">
          <div class="table-card">
            <div class="card-title">Week #1</div>
            <div class="card-content">
              <div class="content-text">Beautiful part of the course
                which helps in success</div>
              <div class="content-img"><svg width="40" height="1" viewBox="0 0 40 1" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <line opacity="0.3" x1="40" y1="0.5" y2="0.5" stroke="white" />
                </svg>
              </div>
            </div>
          </div>
          <div class="table-card">
            <div class="card-title">Week #3</div>
            <div class="card-content">
              <div class="content-text">Beautiful part of the course
                which helps in success</div>
              <div class="content-img"><svg width="40" height="1" viewBox="0 0 40 1" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <line opacity="0.3" x1="40" y1="0.5" y2="0.5" stroke="white" />
                </svg>
              </div>
            </div>
          </div>
          <div class="table-card">
            <div class="card-title">Week #5</div>
            <div class="card-content">
              <div class="content-text">Beautiful part of the course
                which helps in success</div>
              <div class="content-img"><svg width="40" height="1" viewBox="0 0 40 1" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <line opacity="0.3" x1="40" y1="0.5" y2="0.5" stroke="white" />
                </svg>
              </div>
            </div>
          </div>
          <div class="table-card">
            <div class="card-title">Week #7</div>
            <div class="card-content">
              <div class="content-text">Beautiful part of the course
                which helps in success</div>
              <div class="content-img"><svg width="40" height="1" viewBox="0 0 40 1" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <line opacity="0.3" x1="40" y1="0.5" y2="0.5" stroke="white" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="time-table-right">
          <div class="table-card">
            <div class="card-title">Week #2</div>
            <div class="card-content">
              <div class="content-img"><svg width="40" height="1" viewBox="0 0 40 1" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <line opacity="0.3" x1="40" y1="0.5" y2="0.5" stroke="white" />
                </svg>
              </div>
              <div class="content-text">Beautiful part of the course
                which helps in success</div>
            </div>
          </div>
          <div class="table-card">
            <div class="card-title">Week #4</div>
            <div class="card-content">
              <div class="content-img"><svg width="40" height="1" viewBox="0 0 40 1" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <line opacity="0.3" x1="40" y1="0.5" y2="0.5" stroke="white" />
                </svg>
              </div>
              <div class="content-text">Beautiful part of the course
                which helps in success</div>
            </div>
          </div>
          <div class="table-card">
            <div class="card-title">Week #6</div>
            <div class="card-content">
              <div class="content-img"><svg width="40" height="1" viewBox="0 0 40 1" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <line opacity="0.3" x1="40" y1="0.5" y2="0.5" stroke="white" />
                </svg>
              </div>
              <div class="content-text">Beautiful part of the course
                which helps in success</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-teachers">
  <div class="container">
    <div class="teachers-title">
      <div class="title-logo"><img src="assets/images/teachers-logo.svg"></div>
      <div class="title-text">Your teachers</div>
    </div>
    <div class="wrapper-teacher-list">
      <div class="teachers-container" *ngFor="let item of teacherList">
        <div class="card">
          <div class="card-images"><img [src]="item.img"></div>
          <div class="card-name">{{item.name}}</div>
          <div class="card-specialty">{{item.specialty}}</div>
          <div class="card-btn"><button class="button" type="button">Biography</button></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-footer">
  <div class="container">
    <footer class="footer">
      <div class="footer-title">Articles every week</div>
      <div class="footer-text">More than 90% of students passed the full course and were able to assemble their first computer</div>
      <div class="footer-form">
        <div><input type="email" placeholder="E-mail"></div>
        <div><button type="submit">Subscribe</button></div>
      </div>
      <div class="footer-social">
        <div class="social-icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.0576 6.94539C21.9381 6.50142 21.7041 6.09662 21.3789 5.77152C21.0538 5.44641 20.649 5.21239 20.2051 5.09289C18.5701 4.65039 12.0001 4.65039 12.0001 4.65039C12.0001 4.65039 5.43008 4.65039 3.79508 5.09289C3.35111 5.21239 2.94631 5.44641 2.6212 5.77152C2.29609 6.09662 2.06208 6.50142 1.94258 6.94539C1.63729 8.61284 1.48914 10.3053 1.50008 12.0004C1.48914 13.6955 1.63729 15.3879 1.94258 17.0554C2.06208 17.4994 2.29609 17.9042 2.6212 18.2293C2.94631 18.5544 3.35111 18.7884 3.79508 18.9079C5.43008 19.3504 12.0001 19.3504 12.0001 19.3504C12.0001 19.3504 18.5701 19.3504 20.2051 18.9079C20.649 18.7884 21.0538 18.5544 21.3789 18.2293C21.7041 17.9042 21.9381 17.4994 22.0576 17.0554C22.3629 15.3879 22.511 13.6955 22.5001 12.0004C22.511 10.3053 22.3629 8.61284 22.0576 6.94539ZM9.90008 15.1504V8.85039L15.3526 12.0004L9.90008 15.1504Z" fill="white"/>
            </svg>

        </div>
        <div class="social-icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.397 20.9972V12.8012H16.162L16.573 9.59217H13.397V7.54817C13.397 6.62217 13.655 5.98817 14.984 5.98817H16.668V3.12717C15.8487 3.03936 15.0251 2.99696 14.201 3.00017C11.757 3.00017 10.079 4.49217 10.079 7.23117V9.58617H7.33203V12.7952H10.085V20.9972H13.397Z" fill="white"/>
            </svg>

        </div>
        <div class="social-icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.5 0H7.5C3.3585 0 0 3.3585 0 7.5V16.5C0 20.6415 3.3585 24 7.5 24H16.5C20.6415 24 24 20.6415 24 16.5V7.5C24 3.3585 20.6415 0 16.5 0ZM21.75 16.5C21.75 19.395 19.395 21.75 16.5 21.75H7.5C4.605 21.75 2.25 19.395 2.25 16.5V7.5C2.25 4.605 4.605 2.25 7.5 2.25H16.5C19.395 2.25 21.75 4.605 21.75 7.5V16.5Z" fill="white"/>
            <path d="M12 6C8.6865 6 6 8.6865 6 12C6 15.3135 8.6865 18 12 18C15.3135 18 18 15.3135 18 12C18 8.6865 15.3135 6 12 6ZM12 15.75C9.933 15.75 8.25 14.067 8.25 12C8.25 9.9315 9.933 8.25 12 8.25C14.067 8.25 15.75 9.9315 15.75 12C15.75 14.067 14.067 15.75 12 15.75Z" fill="white"/>
            <path d="M18.4479 6.34997C18.8895 6.34997 19.2474 5.99203 19.2474 5.55048C19.2474 5.10892 18.8895 4.75098 18.4479 4.75098C18.0064 4.75098 17.6484 5.10892 17.6484 5.55048C17.6484 5.99203 18.0064 6.34997 18.4479 6.34997Z" fill="white"/>
            </svg>

        </div>
      </div>
    </footer>
  </div>
</section>
