@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&display=swap');
$colorWhite: #fff;
body{
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  color: $colorWhite;
}
a{
  text-decoration: none;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
section{
  background-color:  #121212;
}
